// COMMONS FILE

div,
p,
a,
ul,
li,
section {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Ivy Mode", Arial, sans-serif;
}

// liquid glasss
.liquid-glass {
  border-radius: 32px;
  backdrop-filter: url(#liquid-glass-filter);
  -webkit-backdrop-filter: url(#liquid-glass-filter);
}

.liquid-glass-fallback {
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(22px) !important;
  -webkit-backdrop-filter: blur(22px) !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow:
    inset 0 0 10px 0 rgba(0, 0, 0, 0.39215686274509803),
    0 8px 32px rgba(0, 0, 0, 0.1);
}

@supports (backdrop-filter: url(#liquid-glass-filter)) {
  .liquid-glass-auto {
    border-radius: 32px;
    backdrop-filter: url(#liquid-glass-filter);
    -webkit-backdrop-filter: url(#liquid-glass-filter);
  }
}

@supports not (backdrop-filter: url(#liquid-glass-filter)) {
  .liquid-glass-auto {
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(22px) !important;
    -webkit-backdrop-filter: blur(22px) !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
      inset 0 0 10px 0 rgba(0, 0, 0, 0.39215686274509803),
      0 8px 32px rgba(0, 0, 0, 0.1);
  }
}

// COMMON STYLE
.video_background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desktop {
  @include tablet {
    display: none;
  }
}
.mobile {
  display: none;
  @include tablet {
    display: block;
  }
}

// Hero section
.hero_section {
  height: 100vh;
  overflow: clip;
  .wrap_section {
    height: 100%;
    position: relative;
  }
  .logo_block {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: 500;
    @include fz_25;
    color: #fff;
    gap: 35px;
    img {
      @include fluid("width", 597);
    }
  }
  .content_block {
    position: absolute;
    z-index: 4;
    inset: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    .wrap_content_block {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      @include fluid("margin-bottom", 35);
      @include fluid("margin-left", 40);
      @include fluid("margin-right", 20);

      .btn_block {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        gap: 20px;
        @include fluid("gap", 20);
      }
      .qr_block {
        img {
          @include fluid("width", 112);
          @include fluid("height", 112);
        }
      }
    }
  }
  .glass_line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(30deg);
    @include fluid("right", 130);
    @include fluid("width", 549);
    @include fluid("height", 1871);
  }
}

// MARK: ABOUT SECTION
.about_section {
  @include fluid("margin-top", 167);
  .wrap_section {
    padding: 0;
    @include fluid("padding-left", 75);
    @include fluid("padding-right", 75);
  }

  .header_block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    @include fluid("gap", 150);
    .col {
      &.col_title {
        @include fluid("width", 920);
        flex-shrink: 0;
      }

      &.col_post-title {
        font-family: var(--font-family);
        font-weight: 500;
        @include fz_14;
        line-height: 179%;
        color: rgba(43, 44, 51, 0.6);
        p {
          @include fluid("width", 550);
          @include fluid("margin-top", 30);
        }
      }
    }
    h2 {
      font-family: var(--second-family);
      font-weight: 300;
      @include fz_145;
      color: #2b2c33;
      white-space: nowrap;
    }
  }

  .content_block {
    display: flex;
    flex-flow: row nowrap;
    @include fluid("margin-top", 83);
    @include fluid("gap", 165);
    .col {
      &.col_gallery {
        @include fluid("width", 920);
        .swiper {
          width: 100%;
          &.gallery {
            @include fluid("height", 500);
            @include fluid("margin-bottom", 22);
            .btn_block_navigation {
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              z-index: 5;
              flex-flow: row nowrap;
              justify-content: space-between;
              @include fluid("padding-left", 14);
              @include fluid("padding-right", 14);
              transform: translateY(-50%);
              display: none;
              & > div {
                cursor: pointer;
              }
              @include tablet {
                display: flex;
              }
            }
          }
          &.thumb_slider {
            @include fluid("height", 190);
            .swiper-slide {
              cursor: pointer;
            }
          }
          .swiper-slide {
            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      &.col_description {
        display: flex;
        justify-content: flex-end;
        flex-flow: column nowrap;
        width: 100%;
        @include fluid("gap", 65);
        ul {
          display: flex;
          flex-flow: column nowrap;
          li {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            @include fluid("height", 73px);
            font-family: var(--second-family);
            font-weight: 300;
            @include fz_30;
            line-height: 230%;
            color: #2b2c33;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:last-child {
              border: none;
            }
          }
        }
      }
    }
  }
}

// MARK: GALERRY SECTION
.gallery_section {
  @include fluid("margin-top", 285);
  .header_block {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    h2 {
      font-family: var(--second-family);
      font-weight: 300;
      font-size: 250px;
      @include fz_250;
      color: #2b2c33;
    }

    .col {
      &.col_description {
        @include fluid("width", 300);
        display: flex;
        flex-flow: column nowrap;
        @include fluid("gap", 20);
        @include fluid("margin-top", 80);
        h3 {
          font-family: var(--second-family);
          font-weight: 400;
          @include fz_50;
          line-height: 84%;
          color: #2b2c33;
        }
        p {
          font-family: var(--font-family);
          font-weight: 500;
          @include fz_14;
          line-height: 143%;
          color: #2b2c33;
          width: 80%;
        }
      }
    }
  }

  .gallery_block {
    @include fluid("margin-top", 40);
    .gallery_section_slider {
      width: 100%;
      @include fluid("height", 891);
      .swiper-slide {
        @include fluid("border-radius", 15);
        overflow: clip;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .btn_block_navigation {
        display: flex;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 5;
        flex-flow: row nowrap;
        justify-content: space-between;
        @include fluid("padding-left", 78);
        @include fluid("padding-right", 95);
        transform: translateY(-50%);
        img {
          @include fluid("width", 122);
          @include fluid("height", 122);
        }
        & > div {
          cursor: pointer;
        }
      }
    }
  }
}

// MARK: FLOOR PLANS SECTION

.floor-plans_section {
  @include fluid("margin-top", 158);

  .header_block {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    h2 {
      font-family: var(--second-family);
      font-weight: 300;
      @include fz_120;
      line-height: 72%;
      color: #2b2c33;
    }
    .col {
      &.col_filter-btns {
        ul {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: flex-end;
          @include fluid("gap", 10);
        }
        button {
          background-color: transparent;
          border: 1px solid #2b2c33;
          border-radius: 10000px;

          font-family: var(--font-family);
          font-weight: 500;
          @include fz_14;
          color: #2b2c33;
          cursor: pointer;
          transition: all 0.2s ease;
          @include fluid("padding-top", 10);
          @include fluid("padding-bottom", 10);
          @include fluid("padding-right", 27);
          @include fluid("padding-left", 27);

          &:hover {
            background: $accent_color;
            color: white;
            border-color: $accent_color;
          }
          &.active_btn {
            background: $accent_color;
            font-family: var(--font-family);
            font-weight: 700;
            @include fz_14;
            color: #fff;
            border: none;

            &:hover {
              background: $accent_color_hover;
            }
          }
        }
      }
    }
  }

  .content_block {
    @include fluid("margin-top", 55);
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    @include fluid("gap", 36);

    .content_card {
      @include fluid("border-radius", 15);
      border: 1px solid rgba(29, 29, 29, 0.1);
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .col {
        &.col_description {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          padding: 0;
          @include fluid("padding-top", 40);
          @include fluid("padding-bottom", 40);
          @include fluid("padding-left", 58);
          width: 100%;
          .wrap_img {
            @include fluid("width", 427);
            @include fluid("height", 289);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .info_block {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            .wrap_info_block {
              @include fluid("width", 390);
              display: flex;
              flex-direction: column;
              @include fluid("gap", 22);
            }
            h3 {
              font-family: var(--second-family);
              font-weight: 300;
              @include fz_50;
              color: #2b2c33;
              @include fluid("margin-left", -8);
            }
            .post_title {
              font-family: var(--font-family);
              font-weight: 500;
              @include fz_18;
              color: #2b2c33;
            }
            .descr {
              font-family: var(--font-family);
              font-weight: 500;
              @include fz_14;
              line-height: 157%;
              color: rgba(43, 44, 51, 0.35);
              @include fluid("margin-top", 10);
            }
          }
        }

        &.col_price {
          @include fluid("width", 424);
          border-left: 1px solid rgba(0, 0, 0, 0.1);
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          .wrap_col_price {
            display: flex;
            flex-direction: column;
            @include fluid("gap", 20);
            @include fluid("width", 260);
            .price {
              font-family: var(--second-family);
              font-weight: 300;
              font-size: 40px;
              @include fz_40;
              color: #2b2c33;
            }
            .post_title {
              font-family: var(--font-family);
              font-weight: 500;
              @include fz_18;
              color: #2b2c33;
            }
            .btn_block {
              @include fluid("margin-top", 20);
            }
          }
        }
      }
    }
  }
}

//  MARK: PAYMENT PLAN SECTION

.payment_plan_section {
  @include fluid("margin-top", 51);
  .wrap_section {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(29, 29, 29, 0.1);
    @include fluid("border-radius", 15);
    @include fluid("padding-top", 103);
    @include fluid("padding-left", 90);
    @include fluid("padding-bottom", 112);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @include fluid("gap", 150);
  }

  .col {
    &.col_header {
      display: flex;
      flex-flow: column;
      @include fluid("gap", 30);
      justify-content: center;
      h2 {
        font-family: var(--second-family);
        font-weight: 300;
        @include fz_120;
        color: #2b2c33;
        @include fluid("margin-bottom", 20);
        white-space: nowrap;
      }
      .post_title {
        font-family: var(--font-family);
        font-weight: 500;
        @include fz_14;
        line-height: 157%;
        color: rgba(43, 44, 51, 0.35);
        @include fluid("width", 387);
      }
    }

    &.col_plan-info {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      .vertical_line {
        width: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        transform: translate(6px, -6px);
        z-index: -1;
      }
      ul {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        @include fluid("gap", 30);

        li {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          width: 100%;
          font-weight: 500;
          @include fz_16;
          font-family: var(--font-family);
          color: #2b2c33;
          &::before {
            content: url(../images/icons/list_circl_gray.svg);
            @include fluid("width", 11);
            @include fluid("height", 11);
            @include fluid("padding-right", 40);
          }
          &:first-child {
            &::before {
              content: url(../images/icons/list_circl.svg);
            }
          }
          .price {
            @include fluid("width", 250);
          }

          .title {
            @include fluid("width", 430);
          }
        }
      }
    }
  }
}
