.btn {
  font-weight: 500;
  @include fz_14;
  letter-spacing: -0.03em;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-radius: 10000px;
  @include fluid("height", 40);
  @include fluid("width", 176);
  transition: background-color 0.3s ease;

  .btn_wrap {
    width: fit-content;
  }
  &.accent {
    background-color: $accent_color;
    color: white;
    &:hover {
      background-color: $accent_color_hover;
    }
  }
}
